.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.4rem;
  }

  a {
    text-decoration: none;
  }

  .heroImage {
    width: 100%;
  }

  .topOptions {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;

    a {
      padding: 1rem;

      h5 {
        font-weight: 600;
        color: var(--gray);
        &.active {
          font-weight: 800;
          color: var(--white);
        }
      }
    }

    span {
      font-weight: 600;
      color: var(--white);
    }
  }

  .leftOptions {
    align-items: center;
    display: flex;
    justify-content: flex-start;
  }

  .rightOptions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .containerStore {
    display: flex;
    align-self: center;
    justify-content: space-between;
    flex-direction: column;
    margin-top: -450px;
    padding: 1rem;
    width: 90%;

    .slider {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .gamePropsSlider {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        span {
          background-color: var(--white);
          border: 1px solid var(--black);
          padding: 0.1rem 0.4rem;
          color: var(--black);
          border-radius: 5px;
          font-weight: 700;
          width: 40px;
          text-align: center;
          justify-self: flex-end;
        }

        a {
          background-color: var(--blue);
          color: var(--white);
          width: 100px;
          height: 40px;
          border-radius: 5px;
          font-weight: 600;
          font-size: 22px;
          display: flex;
          align-items: center;
          justify-content: center;
          filter: drop-shadow(0px 0px 15px #0072ce);
        }
      }
    }

    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      flex-direction: row;
      margin-bottom: 1.9rem;

      h1 {
        color: var(--white);
        font-weight: 700;
      }

      h2 {
        font-size: 9pt;
        border: 1px solid var(--white);
        padding: 0.3rem;
        cursor: pointer;
        transition: 0.2s;

        &:hover {
          background-color: var(--white);
          color: black;
          filter: drop-shadow(0px 0px 5px #fff);
        }
      }
    }

    .cardsContainer {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      margin-bottom: 1.9rem;

      .card {
        width: 370px;
        height: 128px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1.4rem;
        background-repeat: no-repeat;

        .cardHeader {
          align-self: flex-start;
          justify-self: flex-start;

          span {
            background-color: var(--white);
            color: var(--black);
            width: 280px;
            padding: 0.1rem 0.5rem;
            border: 1px solid var(--black);
            border-radius: 4px;
            font-weight: 600;
          }
        }

        .cardBody {
          flex: 1;
          display: flex;
          span {
            font-weight: 800;
            font-size: 16px;
            color: var(--white);
            align-self: center;
            justify-self: center;
            cursor: pointer;
          }
        }

        .cardFooter {
          align-self: flex-end;
          margin-right: -1.4rem;
          margin-bottom: -1rem;

          a {
            text-decoration: none;
            color: var(--white);
            background-color: var(--blue);
            padding: 0.4rem 0.6rem;
            border-radius: 10px 0px 10px 0px;
            margin-left: 1rem;

            transition: filter 0.2s;

            &:hover {
              filter: drop-shadow(0px 0px 15px #0072ce);
            }
          }

          span {
            color: var(--white);
          }
        }
      }

      @media (min-width: 1920px) {
        .card {
          width: 555px;
          height: 192px;
          background-size: contain;

          .cardBody {
            span {
              font-size: 26px;
            }
          }
        }
      }
    }
  }

  .containerComingSoon {
    display: flex;
    align-self: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 1rem;
    width: 90%;

    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      flex-direction: row;
      margin-bottom: 1.9rem;

      h1 {
        color: var(--white);
        font-weight: 700;
      }

      h2 {
        font-size: 9pt;
        border: 1px solid var(--white);
        padding: 0.3rem;
        cursor: pointer;
        transition: 0.2s;

        &:hover {
          background-color: var(--white);
          color: black;
          filter: drop-shadow(0px 0px 5px #fff);
        }
      }
    }
  }
}

.psnowPubli {
  display: flex;
  background-image: url("/mask-background.png");
  background-repeat: repeat-x;
  align-items: center;
  justify-content: center;
  width: 100%;

  margin-top: 4rem;
  margin-bottom: 4rem;

  img {
    margin-top: -2rem;
  }

  .psnowContainer {
    display: flex;
    margin-right: 7rem;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    h3 {
      margin-top: 1rem;
      width: 75%;
      text-align: center;
      color: var(--white);
    }

    a {
      margin-top: 2rem;
      width: 130px;
      height: 33px;
      background-color: var(--dark-gray);
      display: flex;
      align-items: center;
      justify-content: center;

      text-decoration: none;
      color: var(--white);
      font-weight: 600;
      font-size: 16px;

      border: 1px solid var(--blue);
      border-radius: 2px;

      transition: 0.2s;

      &:hover {
        background-color: var(--blue);
        filter: drop-shadow(0px 0px 15px #0072ce);
      }
    }
  }
}

.psplusPubli {
  display: flex;
  background-image: url("/psplus-banner-background.png");
  background-repeat: repeat-x;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 450px;

  margin-top: 4rem;
  margin-bottom: 4rem;

  .psplusContainer {
    display: flex;
    margin-right: 7rem;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-right: 30rem;

    span {
      margin-top: 1rem;
      width: 70%;
      text-align: center;
      color: var(--white);
    }

    a {
      margin-top: 2rem;
      width: 130px;
      height: 33px;
      background-color: var(--yellow);
      display: flex;
      align-items: center;
      justify-content: center;

      text-decoration: none;
      color: var(--white);
      font-weight: 600;
      font-size: 16px;

      border: 1px solid var(--yellow);
      border-radius: 2px;

      transition: 0.2s;

      &:hover {
        filter: drop-shadow(0px 0px 15px #fdd635);
      }
    }
  }
}
