.containerNewReleases {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .card {
    width: 180px;

    border: 1px solid var(--dark-gray);
    border-radius: 10px;
    display: flex;

    flex-direction: column;

    .cardHeader {
      display: flex;

      img {
        width: 179px;
        height: 220px;
        object-fit: cover;
        border-radius: 10px;
      }

      span {
        color: var(--white);
        font-weight: 700;
        position: absolute;
        padding: 0rem 0.15rem;
        border: 1px solid var(--white);
        margin-left: 130px;
        margin-top: 190px;
      }
    }

    .cardBody {
      margin: 0.7rem 0.3rem;

      .option {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .title {
        text-overflow: ellipsis;
        max-width: 97%;
        color: var(--white);
        font-weight: 800;
        font-size: 14px;
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .subtitle {
        text-overflow: ellipsis;
        max-width: 97%;
        margin-bottom: 0.5rem;
        padding: 0;
        font-size: 12px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      span:last-child {
        padding: 0.1rem 0.3rem;
        border-radius: 4px;
        border: 1px solid var(--dark-gray);
        font-size: 12px;
      }

      .platform {
        display: flex;
        align-items: center;

        span {
          padding: 0.1rem 0.3rem;
          border-radius: 4px;
          border: 1px solid var(--dark-gray);
          font-size: 12px;
          font-weight: 300;
          margin-right: 0.4rem;
        }
        .addOn {
          padding: 0.1rem 0.3rem;
          border-radius: 4px;
          border: 1px solid var(--dark-gray);
          font-size: 12px;
          font-weight: 300;
          margin-right: 0.4rem;
        }
      }
    }

    .cardFooter {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 0.5rem;

      a {
        color: var(--white);
        font-weight: 600;
        background-color: var(--blue);
        width: 90%;
        height: 26px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: filter 0.2s;
      }

      a:hover {
        filter: drop-shadow(0px 0px 10px #0072ce);
      }

      .priceAditional {
        span {
          &:first-child {
            text-decoration: line-through;
            color: var(--gray);
          }

          &:last-child {
            margin-left: 0.5rem;
            padding-left: 0.5rem;
            position: relative;
            color: #fdd635;

            &::before {
              content: "";
              width: 4px;
              height: 4px;
              border-radius: 50%;
              background-color: var(--gray);
              position: absolute;
              left: 0;
              top: 50%;
              transform: translate(-50%, -50%);
            }
          }
        }
      }

      .priceAditionalPSNow {
        span {
          &:first-child {
            text-decoration: line-through;
            color: var(--gray);
          }

          &:last-child {
            margin-left: 0.5rem;
            padding-left: 0.5rem;
            position: relative;
            color: var(--white);

            &::before {
              content: "";
              width: 4px;
              height: 4px;
              border-radius: 50%;
              background-color: var(--gray);
              position: absolute;
              left: 0;
              top: 50%;
              transform: translate(-50%, -50%);
            }
          }
        }
      }
    }
  }

  @media (min-width: 1920px) {
    .card {
      width: 250px;

      .cardHeader {
        img {
          object-fit: cover;
          width: 250px;
          height: 280px;
          border-radius: 10px;
        }
      }

      .cardBody {
        .title {
          font-size: 18px;
        }

        .subtitle {
          font-size: 18px;
        }
      }
    }
  }
}
